* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
}

body {
  font-family: "Lota Grotesque", sans-serif;
}

.header-up {
  width: 100%;
  height: 40px;
  background-color: black;
  font-size: 12px;
}
.header-up .header-left {
  height: 100%;
}

.header-up .header-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-up .header-left ul li {
  list-style: none;
}

.header-up .header-left ul li a {
  text-decoration: none;
  color: white;
  align-items: center;
}

.header-up .header-left .button1 a {
  width: 50px;
  height: 35px;
}

.header-up .header-left .button1 a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button1:hover {
  transition: all 0.5s;
  background-color: rgb(70, 70, 70);
  border-bottom: 3px solid #33c0e2;
}

.header-up .header-left .button2 a {
  width: 100px;
  height: 35px;
}

.header-up .header-left .button2 a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button2:hover {
  transition: all 0.5s;
  background-color: rgb(70, 70, 70);
  border-bottom: 3px solid #33c0e2;
}

.header-up .header-left .button3 a {
  width: 100px;
  height: 35px;
}

.header-up .header-left .button3 a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button3:hover {
  transition: all 0.5s;
  background-color: rgb(70, 70, 70);
  border-bottom: 3px solid #33c0e2;
}

.col-7 {
  width: 58.33%;
  height: 100%;
}

.col-5 {
  width: 41.66%;
  height: 100%;
}

.header-right {
  height: 40px;
  width: 100%;
  display: flex;
}

.header-right .button-rouming {
  height: 40px;
  width: 100px;
  cursor: pointer;
}

.button-rouming:hover {
  background-color: rgb(70, 70, 70);
  transition: all 0.5s;
}

.header-right .button-rouming a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-top: 12px;
}

.header-right i {
  padding-left: 15px;
}

.button-5G {
  width: 40px;
}

.button-5G:hover {
  background-color: rgb(70, 70, 70);
  transition: all 0.5s;
}

.button-5G a {
  display: inline-block;
  padding-top: 10px;
  text-decoration: none;
  color: white;
  font-family: "Lota Grotesque", sans-serif;
  font-size: 17px;
  margin-left: 9px;
}

.header-right .account {
  width: 133px;
}

.account:hover {
  background-color: rgb(70, 70, 70);
  transition: all 0.5s;
}

.header-right .account a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-top: 12px;
}

.header-right select {
  border-color: black;
  background-color: black;
  color: white;
  margin-top: 10px;
}

.header-right select option {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.header-right .search {
  width: 45px;
  height: 40px;
}

.search:hover {
  background-color: rgb(70, 70, 70);
  transition: all 0.5s;
}

.header-right .search a {
  text-decoration: none;
  padding-right: 10px;
}

.header-right .search a i {
  color: white;
  padding-top: 11px;
  font-size: 18px;
}

.col-12 {
  width: 100%;
}
.col-7 {
  width: 58.33%;
}

.col-4 {
  width: 33.33%;
}

.header-center {
  background: url(../image/main-bg_xl.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
  position: absolute;
}

.navbar {
  display: flex;
}

.navbar .nav-left {
  position: relative;
  padding-top: 20px;
  padding-left: 450px;
  display: inline-block;
}

.navbar .nav-left .title {
  margin-top: 100px;
}

.navbar .nav-left .title h1 {
  color: white;
  font-size: 55px;
}

.navbar .nav-right {
  float: right;
  margin-right: 440px;
  margin-top: 28px;
}

.navbar .nav-right img {
  margin-left: 100px;
}

.navbar .nav-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .nav-right ul li {
  list-style: none;
}

.navbar .nav-right ul li a {
  color: white;
  text-decoration: none;
  margin-left: 16px;
  font-size: 12px;
  width: 110px;
  height: 30px;
  justify-content: center;
  display: flex;
  padding-top: 8px;
  border-radius: 12px;
}

.navbar .nav-right ul li a:hover {
  background-color: rgb(212, 212, 212);
  transition: all 0.5s;
}

.header-down .swiper {
  background-color: black;
  width: 100%;
  height: 100px;
  margin-top: 550px;
  z-index: 1;
  opacity: 0.5;
}

.header-down .about {
  position: absolute;
  margin-top: -70px;
  margin-left: 490px;
}

.header-down .about ul {
  display: flex;
}

.header-down .about ul li {
  padding-left: 99px;
  list-style: none;
}

.header-down .about ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.header-down .about ul li span {
  color: white;
  font-size: 11px;
  opacity: 0.5;
}

#web-area .container {
  margin: 0 auto;
  width: 60%;
}

#web-area .container .rates {
  display: flex;
}

#web-area .container .rates .rates-about h1 {
  font-size: 47px;
  margin-top: 160px;
}

#web-area .container .rates .rates-about span {
  color: rgb(170, 170, 170);
  font-size: 14px;
}

#web-area .container .rates .rates-about button {
  background-color: rgb(253, 114, 0);
  color: white;
  border: none;
  width: 190px;
  height: 47px;
  border-radius: 29px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
}

#web-area .container .rates .rates-about button:hover {
  background-color: rgb(255, 81, 0);
}

#web-area .container .rates .rates-img {
  margin-top: 160px;
  padding-left: 90px;
}

#web-area .container .buy-rates .title {
  display: flex;
}

#web-area .container .buy-rates .title h1 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 90px;
}

#web-area .container .buy-rates .title h3 {
  padding-top: 98px;
  display: inline;
  padding-left: 60px;
}

#web-area .container .buy-rates .title a {
  padding-top: 105px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(145, 145, 145);
  font-size: 12px;
  padding-left: 150px;
}

#web-area .container .buy-rates .title a:hover {
  transition: all 0.5s;
  color: blueviolet;
}

#web-area .container .buy-rates .cards {
  display: flex;
}

#web-area .container .buy-rates .cards .card1 {
  margin-top: 40px;
  width: 340px;
  height: 620px;
  border-radius: 19px;
  box-shadow: 5px 5px 5px 5px rgb(197, 197, 197);
}

#web-area .container .buy-rates .cards .card1 img {
  width: 100%;
  height: 150px;
  border-radius: 19px 19px 0px 0px;
}

#web-area .container .buy-rates .cards .card1 span {
  color: white;
  margin-top: -125px;
  position: absolute;
  margin-left: 20px;
  font-weight: bold;
  font-size: 24px;
}

#web-area .container .buy-rates .cards .card1 p {
  color: white;
  margin-top: -125px;
  position: absolute;
  margin-left: 210px;
  font-weight: bold;
  font-size: 12px;
  background-color: rgb(153, 153, 153);
  display: inline-block;
  width: 99px;
  height: 29px;
  border-radius: 19px;
  padding-top: 8px;
  padding-left: 7px;
}

#web-area .container .buy-rates .cards .card1 .price-body {
  width: 295px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin-top: -70px;
  border-radius: 15px;
  margin-left: 15px;
  opacity: 0.3;
  position: absolute;
}

#web-area .container .buy-rates .cards .card1 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -65px;
  margin-left: -28px;
}

#web-area .container .buy-rates .cards .card1 li {
  list-style: none;
  display: flex;
  font-size: 12px;
  border-radius: 19px;
  margin-left: 20px;
}

#web-area .container .buy-rates .cards .card1 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  width: 40px;
  height: 30px;
  padding-left: 13px;
  padding-top: 8px;
}

#web-area .container .buy-rates .cards .card1 a:hover {
  transform: scale(1.6);
  border-radius: 11px;
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
  color: blueviolet;
}

#web-area .container .buy-rates .cards .card1 .icon-word1 {
  margin-top: 60px;
  font-size: 25px;
  margin-left: 20px;
  display: flex;
}

#web-area .container .buy-rates .cards .card1 .icon-word1 h6 {
  padding-left: 19px;
  font-size: 13px;
}

#web-area .container .buy-rates .cards .card1 .icon-word1 span {
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 45px;
  color: rgb(160, 160, 160);
}

#web-area .container .buy-rates .cards .card1 .icon-phone1 {
  margin-top: 40px;
  font-size: 25px;
  margin-left: 20px;
  display: flex;
}

#web-area .container .buy-rates .cards .card1 .icon-phone1 h6 {
  padding-left: 19px;
  font-size: 13px;
}

#web-area .container .buy-rates .cards .card1 .icon-phone1 span {
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 45px;
  color: rgb(160, 160, 160);
}

#web-area .container .buy-rates .cards .card1 .icon-chat1 {
  margin-top: 40px;
  font-size: 25px;
  margin-left: 20px;
  display: flex;
}

#web-area .container .buy-rates .cards .card1 .icon-chat1 h6 {
  padding-left: 19px;
  font-size: 13px;
}

#web-area .container .buy-rates .cards .card1 .icon-chat1 .social {
  display: flex;
}

#web-area .container .buy-rates .cards .card1 .icon-chat1 .social .whatsapp i {
  color: green;
  margin-left: 140px;
}

#web-area .container .buy-rates .cards .card1 .icon-chat1 .social .messenger i {
  color: rgb(56, 56, 255);
}

#web-area .container .buy-rates .cards .card1 .title-card span {
  color: rgb(170, 170, 170);
  font-size: 12px;
  margin-top: 100px;
  margin-left: 45px;
}

#web-area .container .buy-rates .cards .card1 .card-button1 {
  display: flex;
}

#web-area
  .container
  .buy-rates
  .cards
  .card1
  .card-button1
  .button-left
  button {
  background-color: rgb(253, 114, 0);
  color: white;
  border: none;
  width: 135px;
  height: 37px;
  border-radius: 29px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  margin-top: 210px;
  margin-left: 20px;
}

#web-area
  .container
  .buy-rates
  .cards
  .card1
  .card-button1
  .button-right
  button {
  background-color: rgb(255, 206, 167);
  color: rgb(253, 114, 0);
  border: none;
  width: 135px;
  height: 37px;
  border-radius: 29px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  margin-top: 210px;
  margin-left: 20px;
}

#web-area
  .container
  .buy-rates
  .cards
  .card1
  .card-button1
  .button-left
  button:hover {
  background-color: rgb(255, 81, 0);
}

#web-area
  .container
  .buy-rates
  .cards
  .card1
  .card-button1
  .button-right
  button:hover {
  background-color: rgb(253, 114, 0);
  color: white;
}

#web-area .container .buy-rates .cards .card2 {
  margin-top: 40px;
  width: 340px;
  height: 620px;
  border-radius: 19px;
  box-shadow: 5px 5px 5px 5px rgb(197, 197, 197);
  margin-left: 20px;
}

#web-area .container .buy-rates .cards .card2 img {
  width: 100%;
  height: 150px;
  border-radius: 19px 19px 0px 0px;
}

#web-area .container .buy-rates .cards .card2 span {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  margin-left: -300px;
  margin-top: 28px;
}

#web-area .container .buy-rates .cards .card2 p {
  color: rgb(255, 255, 255);
  position: absolute;
  font-weight: bold;
  font-size: 12px;
  background-color: rgb(153, 153, 153);
  display: inline-block;
  width: 99px;
  height: 29px;
  border-radius: 19px;
  padding-top: 8px;
  padding-left: 7px;
  margin-left: -120px;
  margin-top: 29px;
}

#web-area .container .buy-rates .cards .card2 .price-body2 {
  width: 176px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin-top: -70px;
  border-radius: 15px;
  margin-left: 15px;
  opacity: 0.3;
  position: absolute;
}

#web-area .container .buy-rates .cards .card2 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -64px;
  margin-left: -148px;
}

#web-area .container .buy-rates .cards .card2 li {
  list-style: none;
  display: flex;
  font-size: 12px;
  border-radius: 19px;
  margin-left: 18px;
}

#web-area .container .buy-rates .cards .card2 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  width: 40px;
  height: 30px;
  padding-left: 8px;
  padding-top: 8px;
}

#web-area .container .buy-rates .cards .card2 a:hover {
  transform: scale(1.6);
  border-radius: 11px;
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
  color: blueviolet;
}

#web-area .container .buy-rates .cards .card2 .icon-word2 {
  margin-top: 60px;
  font-size: 25px;
  margin-left: 20px;
  display: flex;
}

#web-area .container .buy-rates .cards .card2 .icon-word2 h6 {
  padding-left: 19px;
  font-size: 13px;
}

#web-area .container .buy-rates .cards .card2 .icon-word2 span {
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 45px;
  color: rgb(160, 160, 160);
}

#web-area .container .buy-rates .cards .card2 .icon-phone2 {
  margin-top: 40px;
  font-size: 25px;
  margin-left: 20px;
  display: flex;
}

#web-area .container .buy-rates .cards .card2 .icon-phone2 h6 {
  padding-left: 19px;
  font-size: 13px;
}

#web-area .container .buy-rates .cards .card2 .icon-phone2 span {
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 45px;
  color: rgb(160, 160, 160);
}

#web-area .container .buy-rates .cards .card2 .icon-chat2 {
  margin-top: 40px;
  font-size: 25px;
  margin-left: 20px;
  display: flex;
}

#web-area .container .buy-rates .cards .card2 .icon-chat2 h6 {
  padding-left: 19px;
  font-size: 13px;
}

#web-area
  .container
  .buy-rates
  .cards
  .card2
  .icon-chat2
  .social2
  .whatsapp2
  i {
  color: green;
  display: inline-block;
  margin-left: 160px;
}

#web-area .container .buy-rates .cards .card2 .title-card2 span {
  color: rgb(170, 170, 170);
  font-size: 12px;
  margin-top: 98px;
  padding-left: 220px;
}

#web-area .container .buy-rates .cards .card2 .card-button2 {
  display: flex;
}

#web-area
  .container
  .buy-rates
  .cards
  .card2
  .card-button2
  .button-left
  button {
  background-color: rgb(253, 114, 0);
  color: white;
  border: none;
  width: 135px;
  height: 37px;
  border-radius: 29px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  margin-top: 209px;
  margin-left: -100px;
}

#web-area
  .container
  .buy-rates
  .cards
  .card2
  .card-button2
  .button-right
  button {
  background-color: rgb(255, 206, 167);
  color: rgb(253, 114, 0);
  border: none;
  width: 135px;
  height: 37px;
  border-radius: 29px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  margin-top: 209px;
  margin-left: 20px;
}

#web-area
  .container
  .buy-rates
  .cards
  .card2
  .card-button2
  .button-left
  button:hover {
  background-color: rgb(255, 81, 0);
}

#web-area
  .container
  .buy-rates
  .cards
  .card2
  .card-button2
  .button-right
  button:hover {
  background-color: rgb(253, 114, 0);
  color: white;
}

#web-area .container .buy-rates .cards .mini-cards .card3 {
  width: 340px;
  height: 250px;
  margin-top: 40px;
  border-radius: 19px;
  margin-left: 120px;
}

#web-area .container .buy-rates .cards .mini-cards .card3 .info-title p {
  position: absolute;
  margin-top: -230px;
  margin-left: 30px;
  color: white;
  font-size: small;
  display: inline-block;
  background-color: rgb(151, 151, 151);
  width: 45px;
  height: 19px;
  padding-top: 2px;
  padding-left: 7px;
  border-radius: 8px;
}

#web-area .container .buy-rates .cards .mini-cards .card3 .info-title h3 {
  position: absolute;
  color: white;
  margin-top: -160px;
  margin-left: 30px;
}

#web-area .container .buy-rates .cards .mini-cards .card3 .info-title span {
  color: rgb(185, 185, 185);
  margin-top: -135px;
  position: absolute;
  font-size: 12px;
  margin-left: 30px;
}

#web-area .container .buy-rates .cards .mini-cards .card3 .info-title a {
  position: absolute;
  text-decoration: none;
  margin-top: -75px;
  margin-left: 30px;
  display: inline-block;
  width: 55px;
  height: 55px;
  padding-top: 20px;
  padding-left: 17px;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  color: blueviolet;
  font-size: 14px;
  font-weight: bold;
}

#web-area .container .buy-rates .cards .mini-cards .card3 img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

#web-area .container .buy-rates .cards .mini-cards .card3 .phonefoto1 {
  width: 126px;
  height: 197px;
  position: absolute;
  margin-top: -201px;
  margin-left: 214px;
}
#web-area .container .buy-rates .cards .mini-cards .card3 .phonefoto1 img {
  border-radius: 0px 0px 19px 0px;
}

#web-area .container .buy-rates .cards .mini-cards .card4 {
  width: 340px;
  height: 250px;
  margin-top: 10px;
  border-radius: 19px;
  margin-left: 120px;
}

#web-area .container .buy-rates .cards .mini-cards .card4 .info-title2 p {
  position: absolute;
  margin-top: -230px;
  margin-left: 30px;
  color: white;
  font-size: small;
  display: inline-block;
  background-color: rgb(151, 151, 151);
  width: 45px;
  height: 19px;
  padding-top: 2px;
  padding-left: 7px;
  border-radius: 8px;
}

#web-area .container .buy-rates .cards .mini-cards .card4 .info-title2 h3 {
  position: absolute;
  color: white;
  margin-top: -160px;
  margin-left: 30px;
}

#web-area .container .buy-rates .cards .mini-cards .card4 .info-title2 span {
  color: rgb(185, 185, 185);
  margin-top: -135px;
  position: absolute;
  font-size: 12px;
  margin-left: 30px;
}

#web-area .container .buy-rates .cards .mini-cards .card4 .info-title2 a {
  position: absolute;
  text-decoration: none;
  margin-top: -75px;
  margin-left: 30px;
  display: inline-block;
  width: 55px;
  height: 55px;
  padding-top: 20px;
  padding-left: 17px;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  color: blueviolet;
  font-size: 14px;
  font-weight: bold;
}

#web-area .container .buy-rates .cards .mini-cards .card4 img {
  width: 100%;
  height: 100%;
  border-radius: 19px;
}

#web-area .container .buy-rates .cards .mini-cards .card4 .phonefoto2 {
  width: 126px;
  height: 197px;
  position: absolute;
  margin-top: -201px;
  margin-left: 214px;
}

#web-area .container .buy-rates .cards .mini-cards .card4 .phonefoto2 img {
  border-radius: 0px 0px 19px 0px;
}

#web-area .container .number-choose {
  display: flex;
}

#web-area .container .number-choose h1 {
  font-size: 45px;
  margin-top: 150px;
}

#web-area .container .number-choose .advertising-img {
  width: 551px;
  height: 323px;
  margin-top: 100px;
  margin-left: 190px;
}

#web-area .container .number-choose .advertising-img img {
  width: 100%;
  height: 100%;
}

#web-area .container button {
  background-color: rgb(253, 114, 0);
  color: white;
  border: none;
  width: 190px;
  height: 47px;
  border-radius: 29px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  margin-top: -50px;
  position: absolute;
}

#web-area .container button:hover {
  background-color: rgb(235, 55, 0);
}
